<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Directions service</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script> 
    <script src="/javascripts/global.js"></script> 
  </head>
  <body>
    <div id="control">
    <b>Start: </b>
    <input id="start" type="textbox" value="Bangalore, Karnataka">
    <b>End: </b>
    <input id="end" type="textbox" value="Hyderabad, Telangana">
      <input type="button" value="Directions" onclick="calcOneRoute();">    
      <input type="button" value="Show My step DB" onclick="populateStepMap();">    
      <input type="button" value="Show My road DB" onclick="populateRoadMap();">    
      <input type="button" value="Show My rel DB" onclick="populateRelMap();">    
    <input id="enc_path" type="textbox" value="">
      <input type="button" value="ShowthisPoly" onclick="showthisPoly();">    
    <input type="button" value="Start Populating" onclick="startPopulate();">
    <input type="button" value="Get all Roads" onclick="getAllRoads();">
    <input id="roadid" type="textbox" value="">
      <input type="button" value="show steps of this road" onclick="showSteps();">    
    <input id="roadtorel" type="textbox" value="Road to rel">
      <input type="button" value="Road to Rel" onclick="roadToRel();">    
    <input id="subRoad" type="textbox" value="subRoadID">
    <input id="superRoad" type="textbox" value="superRoadID">
      <input type="button" value="Make same road" onclick="subRoad();">    
    <input id="subRel" type="textbox" value="subRelID">
    <input id="superRel" type="textbox" value="superRelID">
      <input type="button" value="Make same rel" onclick="subRel();">    
    </div>
    <div id="ratings-panel">
    </div>
    <div id="map-canvas"></div>
  </body>
</html>
